<app-navbar></app-navbar>
<div class="row" style="margin-top:10%;">
  <div class="col-md-12">
<h3>List of users</h3>
<div class="table-responsive">
    <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Role</th>
            <th scope="col">Date</th>
            <th scope="col"><button class="btn btn-primary">Add new</button></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Update | Delete</td>
          </tr>
        </tbody>
      </table>
</div>
</div>
</div>
