<app-navbar></app-navbar>
<div class="row" style="margin-top:10%;">
    <div class="col-md-12">
        <div class="row text-center" *ngIf="message">
            <div class="col-md-12">
                <div class="alert alert-success fade show" role="alert">
                    <strong class="text-center">{{message}}</strong>
                    <button type="button" (click)="onCloseAlert();" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <h3>List of products</h3>
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Amount</th>
                        <th scope="col">User ID</th>
                        <th scope="col">Date</th>
                        <th scope="col" class="text-center">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#addProductModal">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i> New Product
                            </button>
                        </th>
                </thead>
                <!-- Display products -->
                <tbody *ngIf="products">
                    <tr  *ngFor="let product of products; let i = index">
                        <th scope="row">{{product.id}}</th>
                        <td>{{product.name}}</td>
                        <td>{{product.price}} </td>
                        <td>{{product.amount}} </td>
                        <td>{{product.userid}}</td>
                        <td>{{product.created_at.split('T')[0]}}</td>
                        <td class="text-center">
                            <app-modal-container [upid]="product.id" [upname]="product.name" [upprice]="product.price" [upamount]="product.amount"  [delete]="product.id">
                            </app-modal-container>
                        </td>
                    </tr>
                    <tr style="background-color: #e9ecef; font-weight: bold">
                        <td colspan="6">
                            Products per page
                            <select (change)="onPageNumber($event)">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                            </select>
                            |
                            <i class="fa fa-backward" aria-hidden="true"></i>
                            1 of 10 
                            <i class="fa fa-forward" aria-hidden="true"></i>
                        </td>
                        <td class="text-center">
                            Search by ID <input type="text" style="width:30px; padding: 3px 5px;" placeholder="1" #prductId>&nbsp; <a (click)="onProductById(prductId.value);" class="badge badge-primary" style="padding: 9px;">Go</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal add new product-->
<div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProductModalLabel">Add new product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Product name" #pname>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Product price" #pprice>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Amount of product" #pamount>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" 
                    (click)="onAddProduct(pname.value, pprice.value, pamount.value);pname.value='';pprice.value=''; pamount.value=''" data-dismiss="modal">
                Add product
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End modal -->