<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Update product</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
        <div class="form-group">
            <input class="form-control" [(ngModel)]="user.name" type="text">
        </div>
        <div class="form-row">
          <div class="col">
              <input class="form-control" [(ngModel)]="user.price" type="text">
          </div>
          <div class="col">
              <input class="form-control" [(ngModel)]="user.amount" type="text">
          </div>
        </div>
        <br>
        <div class="row text-center" *ngIf="user.message">
            <div class="col-md-12">
                <div class="alert alert-success fade show" role="alert">
                    <strong class="text-center">{{user.message}}</strong>
                    <button type="button" (click)="onCloseAlert();" class="close" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
              
          </div>
        <br>
  <button (click)="updateBack()" type="button" class="btn btn-primary w-100">Save</button>
</div>
